<div class="w-100 d-flex f-middle">
<h2>Créer un compte</h2>
</div><br />

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
    <%= f.label "email" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  
    <%= f.label "Mot de passe" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
 
    <%= f.label "Confirmation du mot de passe" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>

    <%= f.submit "Sign up", class:"btn btn-primary" %>
 
<% end %>

<%= render "devise/shared/links" %>
