<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Bonjour <%= @user.first_name %> !</h1>
  <p>
    Nous vous remercions de votre commande. La commande sera expédié a l'adresse suivante : <%= @user.email %></p>
    <p>Vous avez commandé les photos de chats suivante: </p>
    <% @items.each do |item| %>
    <p><%= item.title %></p>
    <%=image_tag item.cat_picture alt: item.title %>
    <% end %>
    <p>Montant de la commande :</p>
    <%= @price_total %>
    <p>
      Nous espérons vous revoir bientôt. <%= @url %>
    </p><br>
    <p>Veuillez noter que ce message vous a été envoyé d'une adresse qui ne peut recevoir d'e-mails. Merci de ne pas y répondre.</p>
  </body>
  </html>
