<li class="list-group-item d-flex justify-content-between" id="update-form<%= banner.id %>">

  <%= form_tag banner_banner_images_path(banner), method: :post, multipart: true, remote: true  do%>
  <div class="form-group">
        <%= image_tag banner.banner_image.variant(resize: "100x100"), id: "image_banner#{banner.id}" if banner.banner_image.attached? %> <br />
        <%= file_field_tag :banner_image %> <br />
        <%= submit_tag "Uploader" %>
  </div>
  <% end %>

  <%= form_tag(banner_path(banner.id), method: :patch, remote: true, multipart: true) do %>

  <div class="form-group">
    <%= text_field_tag :title, banner.title, class: "form-control", placeholder: "Titre" %>
  </div>

  <div class="form-group">
    <%= text_field_tag :description, banner.description, class: "form-control", placeholder: "Description" %>
  </div>

  <%= submit_tag "Mettre à jour", class: "btn btn-outline-success" %>
  <%= link_to "Supprimer", banner_path(banner), method: :delete, remote: true, class: "btn btn-danger" %>
  <% end %>
</li>
