<li class="list-group-item d-flex justify-content-between" id="update-form<%= banner.id %>">

  <%= form_tag banner_banner_images_path(banner), method: :post, multipart: true, remote: true, class:'d-flex flex-column'  do%>

    <%= image_tag banner.banner_image.variant(resize: "100x100"), id: "image_banner#{banner.id}" if banner.banner_image.attached? %>

    <%= file_field_tag :banner_image %>

    <%= submit_tag "Uploader" %>

  <% end %>


  <%= form_for banner_path(banner.id), method: :patch, remote: true, multipart: true do |form| %>
  <p><%= banner.id %></p>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, value: banner.title  %>
  </div>
  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, value: banner.description %>
  </div>

  <%= form.submit "Mettre à jour", class: "btn btn-outline-success" %>
  <%= link_to "Supprimer", banner_path(banner), method: :delete, remote: true, class: "text-danger" %>
  <% end %>
</li>
