<div class="d-flex justify-content-center flex-column align-items-center">
  <div class="card text-center" style="max-width: 30rem">
    <div class="card-header">
      <h4>Mot de passe oublié ?</h4>
    </div>
    <div class="card-body">

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email", placeholder: "Email" %>
      </div>

      <%= f.submit "Réinitialiser mon mot de passe", class:"btn btn-warning btn-block m-2" %>

      <div class="card-footer">
        <div class="form-group">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>
