<div class="d-flex justify-content-center flex-column align-items-center">
  <div class="card text-center" style="max-width: 30rem">
    <div class="card-header">
      <h4>Connexion</h4>
    </div>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true , class: "form-control", placeholder: "Email"%>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Mot de passe"%>
      </div>

      <% if devise_mapping.rememberable? -%>
      <div class="form-group">
        <%= f.check_box :remember_me %> <%= f.label "Se souvenir de moi" %>
      </div>
      <% end -%>

      <div class="form-group">
        <%= f.submit "Se connecter", class: 'btn btn-primary' %>
      </div>
    </div>

    <div class="card-footer">
      <div class="form-group">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

<% end %>
