<div class="bd-exemple m-1">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<% banners.sort.reverse.each_with_index do |banner, index| %>
			<li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" <% if index == 0 %>class="active" <% end -%> id="indicator<%= banner.id %>"></li>
		<% end -%>
	</ol>

	<div class="carousel-inner">
	 <% banners.sort.reverse.each_with_index do |banner, index| %>
		<div class="carousel-item <% if index == 0 %> active <% end -%>" id="banner<%= banner.id %>">

			<div class="w-100 d-block banner_custom" style="height: 300px; background-image: url(<%= polymorphic_url(banner.banner_image) if banner.banner_image.attached? %>);"></div>

			<div class="carousel-caption d-none d-md-block">
				<h5><%= banner.title %></h5>

    		<p><%= banner.description %></p>
  		</div>
  	</div>
  	<% end -%>
	</div>
</div>
</div>
