<div class="modal fade" id="bannerIndexModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Index des bannières</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Créer une bannière</p>

        <%= form_with model: Banner.new do |form| %>

        <div class="form-group">
          <%= form.text_field :title, class: "form-control", placeholder: "Titre"%>
        </div>

        <div class="form-group">
          <%= form.text_field :description, class: "form-control", placeholder: "Description" %>
        </div>

        <div class="form-group">
          <%= form.file_field :banner_image, placeholder: "banner image" %>
        </div>
        <%= form.submit "Valider", class: "btn btn-primary" %>
        <% end %>
        <br />

        <ul class="list-group list-group-flush">
          <% @banners.sort.reverse.each do |banner|%>
          <li class="list-group-item d-flex justify-content-between" id="update-form<%= banner.id %>">

            <%= form_tag banner_banner_images_path(banner), method: :post, multipart: true, remote: true  do%>
            <div class="form-group">
                  <%= image_tag banner.banner_image.variant(resize: "100x100"), id: "image_banner#{banner.id}" if banner.banner_image.attached? %> <br />
                  <%= file_field_tag :banner_image %> <br />
                  <%= submit_tag "Uploader" %>
            </div>
            <% end %>

            <%= form_tag(banner_path(banner.id), method: :patch, remote: true, multipart: true) do %>

            <div class="form-group">
              <%= text_field_tag :title, banner.title, class: "form-control", placeholder: "Titre" %>
            </div>

            <div class="form-group">
              <%= text_field_tag :description, banner.description, class: "form-control", placeholder: "Description" %>
            </div>

            <%= submit_tag "Mettre à jour", class: "btn btn-outline-success" %>
            <%= link_to "Supprimer", banner_path(banner), method: :delete, remote: true, class: "btn btn-danger" %>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
