<%= form_tag item_cat_pictures_path(item), method: :post, multipart: true, remote: true do %>
  <%= file_field_tag :cat_picture %>
  <%= submit_tag "Uploader l'image"%>
<% end %>

<%= form_with(model: item, local: true) do |form| %>
<% if item.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

  <ul>
    <% item.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <%= form.label :price %>
  <%= form.text_field :price, class:"form-control" %>
</div>

<div class="form-group">
  <%= form.label :title %>
  <%= form.text_field :title, class:"form-control" %>
</div>

<div class="form-group">
  <%= form.label :description %>
  <%= form.text_area :description, class:"form-control" %>
</div>

<%= form.submit class:"btn btn-info" %>
<% end %>
