<div class="modal fade" id="ordersListModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Liste des commandes :</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
      <% @orders.each do |order| %>
      <ul class="list-group list-group-flush">
        <li class="list-item">Id</li>
        <li class="list-item">Utilisateur</li>
        <li class="list-item">Prix total</li>
        <li class="list-item">Date d'achat</li>
      </ul>
      <ul class="list-group list-group-flush">
        <li class="list-item"><%= order.id %></li>
        <li class="list-item"><%= order.user.email %></li>
        <li class="list-item"><%= total_price(find_details(order)) %></li>
        <li class="list-item"><%= tidy_date(order.created_at) %></li>
      </ul>
      <ul class="list-group list-group-flush">
        <li class="list-item">Quantité</li>
        <li class="list-item">Nom du produit</li>
        <li class="list-item">Prix </li>
        <li class="list-item">Prix actuel</li>
      </ul>
      <% find_details(order).each do |detail| %>
      <ul class="list-group list-group-flush">
        <li class="list-item"><%= detail.quantity %></li>
        <li class="list-item"><%= detail.item.title %></li>
        <li class="list-item"><%= detail.price %> €</li>
        <li class="list-item"><%= detail.item.price %> €</li>
      </ul>
      <% end %>
      <% end %>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>
