<p id="notice"><%= notice %></p>
<section class="col-8 offset-2 d-flex align-items-center justify-content-between mb-4">
  <% if @item.cat_picture.attached? %>

  <%= image_tag @item.cat_picture, class: "rounded float-left", alt: "cat" %>

  <% else %>

  <p class="text-warning">Pas d'image uploadé</p>

  <% end %>
  <article class="col-4">
    <h2 class="text-primary"><%= @item.title %></h2>
    <p><%= @item.description %></p>
    <p><%= @item.price %>€</p>
    <p><%= link_to 'Edit', edit_item_path(@item) %> | <%= link_to 'Back', items_path %></p>

    <%= form_tag(carts_path, method: 'post') do %>
    <%= hidden_field_tag('item', @item.id) %>
    <%= submit_tag('Ajouter au panier') %>
    <% end -%>
  </article>
</section>
