<p id="notice"><%= notice %></p>

<img src="<%= @item.cat_picture %>" alt="cat">

<p>Price: <%= @item.price %></p>

<p>Title: <%= @item.title %></p>

<p>Description: <%= @item.description %></p>

<p><%= link_to 'Edit', edit_item_path(@item) %> | <%= link_to 'Back', items_path %></p>
