<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	
	<%= link_to "CatShop", root_path, class:"navbar-brand" %>
	
	<div class="navbar-expand" id="navbarNavDropdown">

		<ul class="navbar-nav mr-auto">
			<% if is_admin?(current_user) %>

			<li class="nav-item dropdown">

				<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Espace admin</a>

				<div class="dropdown-menu">
					<button type="button" class="dropdown-item" data-toggle="modal" data-target="#newItemModal">
					Créer un produit
					</button>

					<button type="button" class="dropdown-item" data-toggle="modal" data-target="#bannerIndexModal">
					Gestion des bannières
					</button>
				</div>
			</li>
			<% end %>

			<li class="dropdown nav-item">

				<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Compte</a>

				<div class="dropdown-menu">
					<% if user_signed_in? %>

					<%= link_to "Profil", user_path(current_user.id), class:"dropdown-item"%>
					<%= link_to "Deconnexion", destroy_user_session_path, method: :delete, class:"dropdown-item"%>
					<%= link_to "Mon panier", cart_path(current_user.id), class:"dropdown-item" %>

					<% else %>

					<%= link_to "Connexion", new_user_session_path, class:"dropdown-item" %>

					<%= link_to "Inscription", new_user_registration_path, class:"dropdown-item" %>

					<% end -%>

				</div>
			</li>
		</ul>
	</div>
</nav>
